// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #1b75bc;
$orange: #fbb040;
$light-gray: #f1f2f2;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.top-area__wrapper {
  background: $blue;
  color: white;
  padding: 25px;
}

.logo {
  background-image: url(babble-logo.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 25px;
}

.search__wrapper {
  margin: 30px 0;
}

.search__wrapper input {
  border: 0px solid transparent;
  border-radius: 3px;
  width: 100%;
  padding: 15px;
  color: #555;
  background-image: url(icon_search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;

  &:focus {
    outline: 2px solid $orange;
  }
}

.popular-tags__label, .top-articles__label {
  font-size: 12px;
  display: block;
  margin-bottom: 8px;
}

.popular-tags__wrapper {
  display: block;
  margin-bottom: 30px;
  @extend .clearfix;
}

.tag {
  float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
  margin-bottom: 5px;

  margin-left:20px;
	padding:0 10px 0 12px;
	background:$orange;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;

  &:hover {
    cursor: pointer;
    background: darken($orange, 10%);

    &:before {
      border-color:transparent darken($orange, 10%) transparent transparent;
    }
  }

  &:before {
    content:"";
  	float:left;
  	position:absolute;
  	top:0;
  	left:-12px;
  	width:0;
  	height:0;
  	border-color:transparent $orange transparent transparent;
  	border-style:solid;
  	border-width:12px 12px 12px 0;
  }

  span:before {
    content: '';
    display: block;
    float: left;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    left: 0px;
    top: 10px;
  }
}

.top-articles__wrapper {
  @extend .clearfix;
  margin-bottom: 20px;
  display: flex;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.top-articles {
  width: 50%;
  flex: 1;

  @media screen and (max-width: 400px) {
    width: 100%;
    margin-bottom: 20px;
  }

  &:first-of-type {
    margin-right: 20px;
  }
}

.top-articles__list {
  border-radius: 3px;
  overflow: hidden;
}

.main-articles__list {
  padding: 10px 0 25px 0;
}

.article__wrapper {
  background: #fff;
  color: #555;
  border-radius: 4px;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 0px 2px 2px #ccc;
  margin: 10px 0;
  transition: all 0.3s ease;

  .article-title {
    padding: 12px;
  }

  &.closed {
    .article__contents__wrapper {
      display: none;
    }
  }


  &.mini {
    height: 30px;
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    margin: 0;

    &:hover {
      background: #eee;
      cursor: pointer;

      .button__copy {
        background-color: darken($orange, 9%);
      }
    }

    .article-title {
      padding: 8px 8px 8px 0;
    }
  }
}

.article__controls {
  .opened &, .article-modal__wrapper & {
    border-bottom: 1px solid #ccc;
  }
}

.article__contents__wrapper {
  padding: 20px;
  line-height: 20px;
  font-size: 14px;
}

.article__content {
  position: relative;

  .button__copy {
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
    height: 30px;
  }
}

.article-content__text {
  padding: 0 10px 0 40px;
}

.article-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  height: 40px;
}

.button__copy {
  display: block;
  float: left;
  background-color: $orange;
  background-image: url(icon_copy.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  height: 40px;
  width: 40px;
  background-size: 15px;

  &:hover {
    background-color: darken($orange, 10%);
    cursor: pointer;
  }

  .mini & {
    background-size: 13px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
}

.button__toggle-view {
  display: block;
  float: right;
  border-left: 1px solid #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: #ededed;
    background-size: 18px;
  }

  .closed & {
    background-image: url(icon_caret.svg);
  }

  .opened & {
    background-image: url(icon_caret.svg);
    transform: rotate(180deg);
    border-left: 0px solid #ddd;
    border-right: 1px solid #ddd;
  }

  &.expand {
    background-image: url(icon_expand.svg);
  }

  &.collapse {
    background-image: url(icon_collapse.svg);
  }

  .mini & {
    background-size: 13px;
    width: 30px;
    height: 30px;
    transition: none;

    &:hover {
      background-size: 16px;
    }
  }
}

.main-tabs__wrapper {
  text-align: center;
}

.main-tab {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  border-bottom: 4px solid $blue;

  &:hover {
    cursor: pointer;
    border-bottom: 4px solid $orange;
  }

  &.active {
    border-bottom: 4px solid $orange;
  }
}

.main-articles__wrapper {
  background: $light-gray;
  padding: 20px;
}

.main-articles__controls {
  text-align: right;
}

.main-articles__control {
  display: inline-block;
  color: #888;
  font-size: 12px;
  margin-left: 15px;

  &:hover {
    cursor: pointer;
    color: #222;
    text-decoration: underline;
  }
}

.article-modal__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 2;
  padding: 30px;

  .article__wrapper {
    margin: auto;
    max-width: 600px;
    box-shadow: none;
  }
}

.article-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(icon_close_white.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}
